<!-- base.html -->

<!DOCTYPE html>
<html>

<head>
    {% load static %}
    {% load static %}
    

    <script src="https://cdn.tailwindcss.com"></script>
    <!-- Change the path appropriately -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
    

    <title>{% block title %}Default Title{% endblock %}</title>
    <style>

    </style>
</head>

<body>
    <header>
        <nav></nav>
    </header>

    <nav class="bg-blue-500 p-4">
        <div class="container mx-auto md:px-10 flex items-center justify-between">
            <div>
                <a href="{% url 'student_dashboard' %}" class="text-white text-2xl font-semibold">ZMC India</a>
            </div>
            <div class="hidden md:flex space-x-4">
                <a href="{% url 'student_dashboard' %}" class="text-white text-base hover:text-blue-200">
                    {% if request.user.is_authenticated and request.user.user_type == 3 %} {# Check if user is a student #}
                    {{ request.user.student_profile.name }}
                    {% elif request.user.is_authenticated and request.user.user_type == 2 %} {# Check if user is a
                    teacher #}
                    {{ request.user.teacher_profile.user.username }}
                    {% else %}
                    Guest
                    {% endif %}</a>
                <a href="{% url 'quiz:quiz_list' %}" class="text-white text-base hover:text-blue-200">quiz</a>

                {% if request.user.is_authenticated %}
                <a href="{% url 'logout' %}" class="text-white text-base hover:text-blue-200">Logout</a>
                {% else %}
                <a href="{% url 'student_login' %}" class="text-white text-base hover:text-blue-200">Login</a>
                {% endif %}
            </div>
            <div class="md:hidden flexitems-center">
                <button id="mobile-nav-button" class="text-white">
                    <svg class="h-6 w-6" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                        xmlns="http://www.w3.org/2000/svg">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M4 6h16M4 12h16m-7 6h7"></path>
                    </svg>
                </button>
                <div id="mobile-menu" class="md:hidden hidden absolute bg-blue-500 mt-2 py-2 px-4 w-40 right-0">
                    <a href="{% url 'quiz:quiz_list' %}" class="block text-white text-base hover:text-blue-200">quiz</a>
                    {% if request.user.is_authenticated %}
                    <a href="{% url 'logout' %}" class="block text-white text-base hover:text-blue-200">Logout</a>
                    {% else %}
                    <a href="{% url 'student_login' %}" class="block text-white text-base hover:text-blue-200">Login</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </nav>



    <main>
        {% block content %}

        {% endblock %}
    </main>

    <footer>
        <!-- Common footer content goes here -->
    </footer>
    <script>
        const mobileMenuButton = document.getElementById('mobile-nav-button');
        const mobileMenu = document.getElementById('mobile-menu');

        mobileMenuButton.addEventListener('click', () => {
            mobileMenu.classList.toggle('hidden');
        });

    </script>
</body>

</html>