{% extends "tbase.html" %}

{% block content %}
<div class="container mx-auto mt-10 p-4 px-4">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="title" class="text-xl" style="font-family: 'Poppins', sans-serif;">Title:</label>
        <input type="text" name="title" required style="width: 568px; height: 55px; background-color: #D9D9D9; height: 2.5rem; border-radius: 4px; margin-bottom: 20px;">

        <h1 class="text-2xl font-bold mb-6">Create Quiz</h1>
        <label for="video" class="mb-5">Video:</label>
        <select name="video" class="mb-5">
            {% for video in videos %}
            <option value="{{ video.id }}">{{ video.title }}</option>
            {% endfor %}
        </select>

        <div id="questions-container">
            <!-- The container where dynamic questions will appear -->
        </div>

        <button type="button" onclick="addQuestion()">Add</button>
        <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 mx-4 px-4 rounded mt-4">Submit</button>
    </form>
</div>

<script>
    let questionCount = 0;  // Starting with 0, as you'll add questions dynamically

    function addQuestion() {
    questionCount++;
    const questionsContainer = document.getElementById('questions-container');
    const questionDiv = document.createElement('div');
    questionDiv.classList.add('question-block', 'mb-6');

    questionDiv.innerHTML = `
        <h3>Question ${questionCount}</h3>
        <label for="question_text" class="block text-sm font-medium text-gray-700">Question Text</label>
        <input type="text" name="question_text_${questionCount}" required class="mt-1 p-2 w-full border rounded-md">

        <div class="choices-container mt-4">
            <input type="text" name="choice_${questionCount}_1" placeholder="Choice 1" class="p-2 w-full border rounded-md mb-2">
            <label>a</label>
            <input type="radio" name="correct_choice_${questionCount}" value="1"> Mark as Correct

            <input type="text" name="choice_${questionCount}_2" placeholder="Choice 2" class="p-2 w-full border rounded-md mb-2">
            <label>b</label>
            <input type="radio" name="correct_choice_${questionCount}" value="2"> Mark as Correct

            <input type="text" name="choice_${questionCount}_3" placeholder="Choice 3" class="p-2 w-full border rounded-md mb-2">
            <label>c</label>
            <input type="radio" name="correct_choice_${questionCount}" value="3"> Mark as Correct

            <input type="text" name="choice_${questionCount}_4" placeholder="Choice 4" class="p-2 w-full border rounded-md mb-2">
            <label>d</label>
            <input type="radio" name="correct_choice_${questionCount}" value="4"> Mark as Correct
        </div>
    `;

    questionsContainer.appendChild(questionDiv);
}
</script>
{% endblock %}
