{% extends "base.html" %}



{% block content %}
<div class="container mx-auto p-4 md:px-40 mt-8">
    {% if uploaded_link %}
            <div class="border border-gray-300 ">
                <h4 class="text-xl font-medium px-4">{{ uploaded_link.title }}</h4>
                <iframe class="px-4" width="300" height="250" src="{{ uploaded_link.thumbnail_link }} " frameborder="0" allowfullscreen></iframe>
                <div class="flex mt-2 space-x-5 px-4 pb-4">
                    <a href="{{ uploaded_link.zoom_link }}" class="custom-btn bg-blue-500 text-white rounded px-2 py-2">Zoom link</a>
                </div>
            </div>
        {% endif %}
    <h1 class="text-xl font-semibold mt-4 mb-4">All Videos</h1>
    <div class="grid grid-cols-1 md:grid-cols-1 lg:grid-cols-3 gap-4">

        <!-- For all other videos -->
        {% for video in all_videos %}
            <div class="border border-gray-300 p-4">
                <h4 class="text-xl mb-4">{{ video.title }}</h4>
                <iframe width="300" height="250" src="{{ video.video_link }}" frameborder="0" allowfullscreen></iframe>
                <div class="flex mt-4 space-x-4">
                    <a href="{{ video.video_link }}" class="custom-btn bg-blue-500 text-white rounded  px-2 py-2">Your Board</a>
                </div>
            </div>
        {% endfor %}    
        
    </div>
</div>
{% endblock %}
